@model CreateProductCommand
@{
    ViewData["Title"] = "CreateProduct";
}
<h3>Yeni Ürün Ekle</h3>

<form method="post">
    <label>Ürün Adı</label>
    <input type="text" asp-for="ProductName" class="form-control" />
    <br />
    <label>Ürün Görseli</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Ürün Fiyatı</label>
    <input type="number" asp-for="ProductPrice" class="form-control" />
    <br />
    <label>Kategori</label>
    <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories">
        <option disabled selected>Kategori Seçiniz</option>
    </select>
    <br />

    <button class="btn btn-primary">Kaydet</button>

</form>